<div class="settings-content-container">
  <input
    [owlDateTimeTrigger]="dt"
    [owlDateTime]="dt"
    [ngModel]="settings.alarmDate"
    (ngModelChange)="settings.setAlarmDate($event)"
    name="date"
    class="time-input"
    placeholder="Set time"
    autofocus
    required
  />

  <owl-date-time [pickerType]="'timer'" #dt></owl-date-time>
  <div class="arrow-container">
    <a href="#settings-playlist">
      <div class="arrow"></div>
    </a>
  </div>
</div>
<div class="settings-content-container" id="settings-playlist">
  <div>
    <form
      [formGroup]="videoIdForm"
      class="video-input-container"
      (ngSubmit)="addVideo()"
    >
      <input
        type="text"
        placeholder="Video link or id"
        id="videoId"
        formControlName="videoId"
      />
      <button class="default-button" type="submit">Add</button>
    </form>
    <div cdkDropListGroup class="video-list-container">
      <div
        cdkDropList
        [cdkDropListData]="settings.playlist"
        class="video-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="video-listitem"
          *ngFor="let video of settings.playlist"
          cdkDrag
        >
          <img
            class="video-thumbnail"
            [src]="video.thumbnailUrl"
            alt="thumbnail"
          />
          <div class="video-title-container">
            <p class="video-title">{{ video.title }}</p>
          </div>
          <img
            class="video-remove"
            src="assets/controls/remove.svg"
            alt="remove item"
            class="video-remove"
            (click)="removeVideo(video.id)"
          />
        </div>
      </div>
    </div>
    <form #alarmForm="ngForm" (ngSubmit)="setAlarm()">
      <button class="submit-alarm-button" type="submit">Set Alarm</button>
    </form>
  </div>
</div>
